<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Admin Home</title>
      <link href="css/jquery.dataTables.min.css" rel="stylesheet">
   </head>

   <body>
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Username</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Username</th>
                </tr>
            </tfoot>
        </table>
    </body>
</html>