<!doctype html>
<html>
<head>
    <title>ParkU</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/doc.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- Navbar CSS -->
    <link href="css/navbar.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="/home">
                        <img alt="ParkU" src="images/car.png" href="home.html">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="nav">
                        <li><a href="home">Home</a></li>
                        <li><a href="doc" class="active">Parking Information</a></li>
                        <li><a href="settings">Settings</a></li>
                        <li><a href="/signout">Sign out</a></li>
                    </ul>
                    <!-- /.navbar-collapse -->                    
                </div>                
                <!-- /.container -->
            </div>
        </nav>
        <h1>Parking at UC San Diego</h1> <br>
        <div class="information">
            <p><b><font size="4">If you wish to park at UC San Diego, you will need to purchase parking in order to support construction, maintenance, and the adminstration of parking facilities. You can view general parking information along with V spot and VP spot information below: </font></b><br><br>

                <!-- General Info button -->
                <button id="gen-btn" class="btn btn-info">General Parking Info</button></p>

                <!-- General Info -->
                <div class="general">
                    <ul> 
                        <li>Main campus — 7 a.m. to 11 p.m. weekdays</li>
                        <li>Scripps Institution of Oceanography — 7 a.m. to 11 p.m., 7 days a week</li>
                        <li>Medical Center Hillcrest — 24 hours/ 7 days a week</li>
                        <li>Medical Center La Jolla — 24 hours/ 7 days a week</li>
                        <li>No parking fee is required on university holidays, or during these off-peak hours:
                            <ul>
                                <li>Main campus – A, B, S, V, VP, and metered spaces from 11 p.m. to 7 a.m. weekdays and all day Saturdays and Sundays</li>
                                <li>Scripps Institution of Oceanography – A, B, and S spaces from 11 p.m. to 7 a.m., 7 days a week</li>
                            </ul>
                        </li>
                    </ul>
                </div> 
                <!-- End of guidelines -->

                <p><b><font size="4">Select parking type to view information</font></b> <br><br>
                    
                    <!-- V Spot Button -->
                    <button id="v-btn" class="btn btn-info">V (Visitor)</button></p>
                    
                    <!-- V Spot -->
                    <div class="v">
                        Rates
                        <ul>
                            <li>H$1/45 minutes </li>
                            <li>$8/day </li>
                        </ul>
                        With purchase of a V spot, you may park in the following spaces: 
                        <ul>
                            <li><font color="grey"><b>V</b></font>: 24 hours daily</li>
                            <li><font color="yellow"><b>S</b></font>: 24 hours daily</li>
                            <li><font color="green"><b>B</b></font>: 24 hours daily
                                <ul>
                                    <li>Valid in lot P207 4:30 p.m. – 7:30 a.m. only</li>
                                </ul>
                            </li>
                            <li><font color="red"><b>A</b></font>: 4:30 p.m. – 7:30 a.m. daily
                                <ul>
                                    <li>Not valid where posted “A permit required 24 hours a day, 7 days a week”</li>
                                </ul>
                            </li>
                            <li>Meters (with no fee): 4:30 p.m. – 7:30 a.m. daily</li>
                            <li>Never valid in: Lots P406, P411, P603, P604, Gilman Parking Structure,  Hopkins Parking Structure, and Pangea Parking Structure</li>
                        </ul>
                    </div> 
                    <!-- End of V Spot-->

                    <!-- VP Spot Button -->
                    <p><button id="vp-btn" class="btn btn-info">VP (Visitor Premium)</button></p>

                    <!-- VP Spot -->
                    <div class="vp">
                        Rates
                        <ul>
                            <li>$2/hour</li>
                            <li>$16/day</li>
                        </ul>
                        With purchase of a VP spot, you may park in the same spaces as those who purchase a V spot along with access to parking in lots:
                        <ul>
                            <li><font color="red"><b>VP</b></font>: 24 hours daily</li>
                            <li>P406, P411, P603</li>
                            <li>Gilman Parking Structure</li>
                            <li>Hopkins Parking Structure</li>
                            <li>Pangea Parking Structure</li>
                            <li> Never valid in lot P604</li>
                        </ul>
                        <!-- End of VP Spot -->                    
                    </div>
                    <!-- End of information --> 
                </div>
                <!-- End of Wrapper -->
            </div>
            <script>
            $('#gen-btn').click(function(){
              $('.general').animate({
                left: "+=500",
                height: "toggle"
            }, 500);
          });

            $('#v-btn').click(function(){
              $('.v').animate({
                left: "+=500",
                height: "toggle"
            }, 500);
          });

            $('#vp-btn').click(function(){
              $('.vp').animate({
                left: "+=500",
                height: "toggle"
            }, 500);
          });
            </script>
        </body>
        </html>