<!doctype html>

<html>
<head>
    <title>ParkU</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/homepage.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- Navbar CSS -->
    <link href="css/navbar.css" rel="stylesheet">

    <!-- DropDown -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Sweetalert -->
    <!-- <link rel="stylesheet" type="text/css" href="sweetalert/dist/sweetalert.css"> -->
    <link rel="stylesheet" type="text/css" href="sweetalert2-master/dist/sweetalert2.css">

    <!-- Webpage Logo -->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="/home">
                        <img alt="ParkU" src="images/car.png" href="home.html">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="nav">
                        <li><a href="home" class="active">Home</a></li>
                        <li><a href="doc">Parking Information</a></li>
                        <li><a href="settings">Settings</a></li>
                        <li><a href="/signout">Sign out</a></li>
                    </ul>
                <!-- /.navbar-collapse -->
                </div>
            <!-- /.container -->
            </div>
        </nav>
        <h1>Welcome, {{message}}</h1>
        <div class="options">
            <p><b>Current registered permits:</b>&nbsp&nbspYou currently have none registered.</p><br>
            <p class="custom_option">To purchase a permit complete the list below.</p>
            <section class="main clearfix">
                <h3>Select a spot type:</h3>
                <select id="cd-dropdown" name="cd-dropdown" class="cd-select is-hidden" required>
                    <option value="-1" selected>Spot Type</option>
                    <option value="1">Visitor (V)</option>
                    <option value="2">Visitor Premium (VP)</option>
                </select>

                <h3>Select a time limit:</h3>
                <select id="cd-dropdown2" name="cd-dropdown" class="cd-select is-hidden" required>
                    <option value="-1" selected>Time Limit</option>
                    <option value="1">1 hour</option>
                    <option value="2">2 hours</option>
                    <option value="3">4 hours</option>
                    <option value="4">8 hours</option>
                    <option value="5">All Day</option>
                </select>

                <!-- Dropdown for Vehicle list, gets registered vehicles from database -->
                <h3>Select your vehicle:</h3>
                <select id="cd-dropdown3" name="cd-dropdown" class="cd-select is-hidden vehicles">
                    <option value="-1" selected>Vehicle</option>
                    {{#each car}}
                    <option value="1">{{vehicleName}}</option>
                    {{/each}}
                </select>
            </section>
            <!-- Purchase button that prompts user with sweetalerts -->
            <button type="submit" class="confirmation">Purchase</button>
        <!-- .options close div -->
        </div>
    <!-- .wrapper close div -->
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Dropdown -->
    <script src="js/index.js"></script>

    <!-- Purchase pop up -->
    <script src="js/confirmation.js"></script>
    <!--<script src="sweetalert/dist/sweetalert.min.js"></script> -->
    <script src="sweetalert2-master/dist/sweetalert2.min.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Dropdown -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.dropdown.js"></script>
    <script src="js/modernizr.custom.63321.js"></script>

    <!-- Dropdown, MUST be here I think -->
    <script type="text/javascript">
    $( function() {
        $( '#cd-dropdown' ).dropdown( {
            gutter : 0
        } );
        $( '#cd-dropdown2' ).dropdown( {
            gutter : 0
        } );
        $( '#cd-dropdown3' ).dropdown( {
            gutter : 0
        } );
    });
    </script>

</body>
</html>
