<!doctype html>

<html>
<head>
	<title>ParkU</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/login.css" rel="stylesheet">
	<link href="css/credentials.css" rel="stylesheet">
	<link href="css/parku.css" rel="stylesheet">
	<!-- <link href="css/animate.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="sweetalert2-master/dist/sweetalert2.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/login.js"></script>
</head>
<body>
	<div id="clouds">
		<div class="car_top1"></div>
		<div class="car x1"></div>
		<div id="center">
			<div class="app_name">
				<div id="app_name">Park U</div>
				<div id="slogan">No, Park U!</div>
			</div>
			<div class="border">
				<!-- Just to center ver and hor -->
				<div class="wrap center"> 
					<form action="/" method="post">
						<div id="firstInputs">
							<input type="text" placeholder="@ucsd.edu" name="username" id="name" required>
							<input type="password" placeholder="Password" name="password" id="password" required>
						</div>
						<!-- Sign in button type is temporarily button... should be "submit" -->
						<button type="submit" id="signin">Sign in</button>
						<button type="button" id="signup">New User</button>
					</form>
				</div>
				<p id="register">Register a @ucsd.edu email and password.</p>
				<div class="signup_view account login" id="signup_account">
					<!-- This is the form for the new users -->
					<form name="new_user" action="/signup" method="post" id="signup_form">
						<ul class="emailAlert" id="emailChecker"></ul>
						<div class="form_row form_row_email">
							<label for="signup_email"></label>
							<input type="email" placeholder="@ucsd.edu" id="signup_email" name="username" required/>
						</div>
						<div class="form_row form_row_password">
							<label for="signup_password"></label>
							<input type="password" placeholder="Password" id="signup_password" name="password" required/>
						</div>
						<div class="form_row form_row_password">
							<label for="signup_password"></label>
							<input type="password" placeholder="Re-enter Password" id="signup_password_confirm" required/>
						</div>
						<ul class="registrationFormAlert" id="divCheckPasswordMatch"></ul>
						<button type="submit" value="Submit" id="create">Sign Up</button>
					</form>
				</div>

				<script>
					var to;
					var subject;
					var text;
					$('#create').click(function() {
						to=$('#signup_email').val();
						subject='ParkU Confirmation';
						text='Thank you for signing up with ParkU. This is your confirmation email.';
						$.get('/send', {to:to, subject:subject, text:text});
					});
				</script>
			</div>
			<div class="car_top2"></div>
			<div class="car x2"></div>
			<div class="car_top3 x3"></div>
			<div class="car x3"></div>
			<div class="car_top4 x4"></div>
			<div class="car x4"></div>
			<div class="car_top5"></div>
			<div class="car x5"></div>
		</div>
	</div>
</body>
</html>



