@font-face {
   font-family: myFirstFont;
   src: url(fonts/museosans-500.otf);
}

html, body{
	height: 100%;
	background-color: #B8CFD6;
/*	background: -webkit-linear-gradient(top, #c9dbe9 100%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 100%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 100%, #fff 100%);*/
}

h1{
	text-align: center;
	font-family: myFirstFont;
}

p {
	font-family: myFirstFont;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.btn-info{
	background-color: #566E75;
	border-color: #566E75;
}

.information {
	padding-bottom: 15%;
}

.v {
	margin-left: 15%;
	display: none;
}

.vp {
	margin-left: 15%;
	display: none;
}

.general{ 
	margin-left: 15%;
	display: none;
}

.options{
	font-size: 20px;
	margin-left: 25%;
	
}
.custom_option{
	margin-left: 5%;
}
#footer{
	height: 100%;
	text-align: center;
}
.options button {
	margin-left: 25%;
	margin-right: 75%;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}