html, body{
	height: 100%;
	background-color: white;
/*	background: -webkit-linear-gradient(top, #c9dbe9 100%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 100%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 100%, #fff 100%);*/
}

h1{
	font-style: italic;
	text-align: center;
}

.options{
	text-align: center;
	padding-bottom: 20%;
}

p{
	font-size: 16px;
}

#footer{
	height: 100%;
	text-align: center;
}

.options button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 60px;
    font-size: 32px;
 
    text-decoration: none;
    display: inline-block;
}