*{ margin: 0; padding: 0;}

body {
	overflow: hidden;
}

input {
	-webkit-border-radius: 3px; //For Safari, etc.
	-moz-border-radius: 3px; //For Mozilla, etc.
	border-radius: 3px; //CSS3 Feature
}

.login-form {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
#register{
	margin-top: 8px;
	display: none;
}
.border button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	width: 200px;

	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.border p{
	font-size: 1.3em;
}

#signup{
	margin-top: 8px;
}

.signup_view{
	display: none;
}

.wrap, #signup_account{
  width:200px;
  top:20px;
}

.wrap, #center, #signup_account {
	margin: auto;
	text-align: center;
}

/*
#center {
	width: 100%;
	height: 100%;
	position: inherit;
	top:-50px;
	bottom: 0;
	left: 50px;
	right: 0;
	text-align: center;
}*/

#app_name {
	font-size: 4em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: helvetica;
}

.border{
	/*padding-top: 12%;*/
	/*position: absolute;*/
	z-index: 3;
}

#slogan {
	height:37px;
	font-size:2em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: helvetica;
}

.registrationFormAlert{
	opacity: .5;
}

#new_user{
	margin: 20px;
	/*position: relative;*/
	height: 25px;
	width: 50px;
	top:20px;
	clear:both;
}

#guest_login{
	margin: 20px;
	height: 25px;
	width: 50px;
	/*position:relative;*/
	top:10px;
	clear:both;
}