*{ margin: 0; padding: 0;}

body {
	overflow: hidden;
}

input {
	-webkit-border-radius: 3px; //For Safari, etc.
	-moz-border-radius: 3px; //For Mozilla, etc.
	border-radius: 3px; //CSS3 Feature
}

@font-face {
   font-family: myFirstFont;
   src: url(fonts/museosans-500.otf);

   font-family: mySecondFont;
   src: url(fonts/Brandon_light.otf);
}

/* This adjusts header font to the screen size (this is a phone) */
@media screen and (min-width : 320px){
  h1{
		font-size: 2.0em;
		font-family: mySecondFont;
		font-style: italic;
		text-align: center;
	}
}
/* This adjusts header font to the screen size (this is computer) */
@media screen and (min-width : 1004px){
  h1{
		font-size: 4.0em;
		font-family: mySecondFont;
		font-style: italic;
		text-align: center;
	}
}

.disabled
{
    background: none repeat scroll 0 0 burlyWood;
    cursor: default !important;
}

.login-form {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
#register{
	margin-top: 8px;
	display: none;
}
.border button{
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 3px;
	color: white;
	padding: 15px 32px;
	width: 150px;

	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 8px;
}

.border{
	/*position: absolute;*/
	z-index: 3;
}

.border p{
	font-size: 1.4em;
	font-family: mySecondFont;
}

#signup{
	margin-top: 8px;
}

.signup_view{
	display: none;
}

.wrap, #signup_account{
  width:200px;
  top:20px;
}

.wrap, #center, #signup_account {
	margin: auto;
	text-align: center;
}

#app_name {
	font-size: 5.5em;
	margin-bottom: -25px;
	font-family: mySecondFont;
	/*font-weight: bold;*/
}

#slogan {
	height:100%;
	font-size:2.3em;
	/*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
	margin-bottom: 5px;
	font-family: mySecondFont;
	font-weight: bold;
}

.registrationFormAlert{
	opacity: .5;
}

#new_user{
	margin: 20px;
	/*position: relative;*/
	height: 25px;
	width: 50px;
	top:20px;
	clear:both;
}

#guest_login{
	margin: 20px;
	height: 25px;
	width: 50px;
	/*position:relative;*/
	top:10px;
	clear:both;
}
