@font-face {
   font-family: myFirstFont;
   src: url(fonts/museosans-500.otf);
}

#nav li a {
    padding:12px;
    border-radius: 5px;
}
.navbar{
    font-family: myFirstFont;
	/*background-color: #5bc0de;*/
    background-color: #586A6F;
}
.navbar body{
	background: white;
}
#nav li a:hover {
    border-bottom:3px #FFF solid;
    padding: 13px;
}	

#nav li .active {
    border-bottom:3px black solid;
    background-color: #B8CFD6;
}

#nav li .focus{
	background-color: #FFF;	
}

.navbar-inverse .navbar-toggle{
	background-color: #566E75;
}

#nav > .active > a:focus {
    color: #FFF;
 }