.login-form {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}

#clouds{
	margin-bottom: 10px;

	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	/*background:
		-webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);*/
}

/*Time to finalise the cloud shape*/
.car {
	width: 200px; height: 60px;
	background: #aaf;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.car:before, .car:after {
	content: '';
	position: absolute;
	background: #000;
	width: 50px; height: 50px;
	position: absolute; top: 20px; left: 25px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.car:after {
	width: 50px; 
	height: 50px;
	top: 20px; 
	left: auto; 
	right: 20px;
}

.car_top1 {
	left:72px;
	top:35px;
	width: 100px; 
	height: 60px;
	background: #bbf;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	position: relative;
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

.car_top2 {
	left:80px;
	top:39px;
	width: 65px;
	height: 40px;
	background: #bbf;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	position: relative; 
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
}

.car_top3 {
	left:80px;
	top:43px;
	width: 100px; 
	height: 60px;
	background: #bbf;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	position: relative; 
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.car_top4 {
	left:72px;
	top:43px;
	width: 100px; 
	height: 60px;
	background: #bbf;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	position: relative; 
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.car_top5 {
	left:70px;
	top:40px;
	width: 100px; 
	height: 60px;
	background: #bbf;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	position: relative; 
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of cars for realistic effect*/
.x2 {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);

	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
}

.x3 {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);

	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x4 {
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);

	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}


/*
@-webkit-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -400px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -400px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -400px;}
}*/
@-webkit-keyframes moveclouds {
	0% {margin-left: 100%;
		background:
		-webkit-linear-gradient(45deg, hsla(340, 33%, 55%, 1) 0%, hsla(340, 33%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 53%, 50%, 1) 10%, hsla(225, 53%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(75, 90%, 50%, 1) 10%, hsla(75, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(189, 95%, 55%, 1) 100%, hsla(189, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 33%, 55%, 1) 0%, hsla(340, 33%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 53%, 50%, 1) 10%, hsla(225, 53%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(75, 90%, 50%, 1) 10%, hsla(75, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(189, 95%, 55%, 1) 100%, hsla(189, 95%, 55%, 0) 70%);}
	25% {background:
		-webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);}
	50% {background:
		-webkit-linear-gradient(45deg, hsla(30, 5%, 25%, 1) 0%, hsla(30, 5%, 25%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(310, 35%, 50%, 1) 10%, hsla(310, 35%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(89, 96%, 50%, 1) 10%, hsla(89, 96%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(37, 57%, 55%, 1) 100%, hsla(37, 57%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(30, 5%, 25%, 1) 0%, hsla(30, 5%, 25%, 0) 70%),
		linear-gradient(135deg, hsla(310, 35%, 50%, 1) 10%, hsla(310, 35%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(89, 96%, 50%, 1) 10%, hsla(89, 96%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(37, 57%, 55%, 1) 100%, hsla(37, 57%, 55%, 0) 70%);}
	75% {background:
		-webkit-linear-gradient(45deg, hsla(258, 47%, 17%, 1) 0%, hsla(258, 47%, 17%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(33, 19%, 68%, 1) 10%, hsla(33, 19%, 68%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(175, 65%, 50%, 1) 10%, hsla(175, 65%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(200, 57%, 55%, 1) 100%, hsla(200, 57%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(258, 47%, 17%, 1) 0%, hsla(258, 47%, 17%, 0) 70%),
		linear-gradient(135deg, hsla(33, 19%, 68%, 1) 10%, hsla(33, 19%, 68%, 0) 80%),
		linear-gradient(225deg, hsla(175, 65%, 50%, 1) 10%, hsla(175, 65%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(200, 57%, 55%, 1) 100%, hsla(200, 57%, 55%, 0) 70%);}
	100% {margin-left: -400px;
	background:
		-webkit-linear-gradient(45deg, hsla(89, 47%, 87%, 1) 0%, hsla(89, 47%, 87%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(162, 19%, 8%, 1) 10%, hsla(162, 19%, 8%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(241, 65%, 36%, 1) 10%, hsla(241, 65%, 36%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(65, 57%, 82%, 1) 100%, hsla(65, 57%, 82%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(89, 47%, 87%, 1) 0%, hsla(89, 47%, 87%, 0) 70%),
		linear-gradient(135deg, hsla(162, 19%, 8%, 1) 10%, hsla(162, 19%, 8%, 0) 80%),
		linear-gradient(225deg, hsla(241, 65%, 36%, 1) 10%, hsla(241, 65%, 36%, 0) 80%),
		linear-gradient(315deg, hsla(65, 57%, 82%, 1) 100%, hsla(65, 57%, 82%, 0) 70%);}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100%;
		background:
		-webkit-linear-gradient(45deg, hsla(340, 33%, 55%, 1) 0%, hsla(340, 33%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 53%, 50%, 1) 10%, hsla(225, 53%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(75, 90%, 50%, 1) 10%, hsla(75, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(189, 95%, 55%, 1) 100%, hsla(189, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 33%, 55%, 1) 0%, hsla(340, 33%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 53%, 50%, 1) 10%, hsla(225, 53%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(75, 90%, 50%, 1) 10%, hsla(75, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(189, 95%, 55%, 1) 100%, hsla(189, 95%, 55%, 0) 70%);}
	25% {background:
		-webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);}
	50% {background:
		-webkit-linear-gradient(45deg, hsla(30, 5%, 25%, 1) 0%, hsla(30, 5%, 25%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(310, 35%, 50%, 1) 10%, hsla(310, 35%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(89, 96%, 50%, 1) 10%, hsla(89, 96%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(37, 57%, 55%, 1) 100%, hsla(37, 57%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(30, 5%, 25%, 1) 0%, hsla(30, 5%, 25%, 0) 70%),
		linear-gradient(135deg, hsla(310, 35%, 50%, 1) 10%, hsla(310, 35%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(89, 96%, 50%, 1) 10%, hsla(89, 96%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(37, 57%, 55%, 1) 100%, hsla(37, 57%, 55%, 0) 70%);}
	75% {background:
		-webkit-linear-gradient(45deg, hsla(258, 47%, 17%, 1) 0%, hsla(258, 47%, 17%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(33, 19%, 68%, 1) 10%, hsla(33, 19%, 68%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(175, 65%, 50%, 1) 10%, hsla(175, 65%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(200, 57%, 55%, 1) 100%, hsla(200, 57%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(258, 47%, 17%, 1) 0%, hsla(258, 47%, 17%, 0) 70%),
		linear-gradient(135deg, hsla(33, 19%, 68%, 1) 10%, hsla(33, 19%, 68%, 0) 80%),
		linear-gradient(225deg, hsla(175, 65%, 50%, 1) 10%, hsla(175, 65%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(200, 57%, 55%, 1) 100%, hsla(200, 57%, 55%, 0) 70%);}
	100% {margin-left: -400px;
	background:
		-webkit-linear-gradient(45deg, hsla(89, 47%, 87%, 1) 0%, hsla(89, 47%, 87%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(162, 19%, 8%, 1) 10%, hsla(162, 19%, 8%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(241, 65%, 36%, 1) 10%, hsla(241, 65%, 36%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(65, 57%, 82%, 1) 100%, hsla(65, 57%, 82%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(89, 47%, 87%, 1) 0%, hsla(89, 47%, 87%, 0) 70%),
		linear-gradient(135deg, hsla(162, 19%, 8%, 1) 10%, hsla(162, 19%, 8%, 0) 80%),
		linear-gradient(225deg, hsla(241, 65%, 36%, 1) 10%, hsla(241, 65%, 36%, 0) 80%),
		linear-gradient(315deg, hsla(65, 57%, 82%, 1) 100%, hsla(65, 57%, 82%, 0) 70%);}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100%;
	background:
		-webkit-linear-gradient(45deg, hsla(340, 33%, 55%, 1) 0%, hsla(340, 33%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 53%, 50%, 1) 10%, hsla(225, 53%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(75, 90%, 50%, 1) 10%, hsla(75, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(189, 95%, 55%, 1) 100%, hsla(189, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 33%, 55%, 1) 0%, hsla(340, 33%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 53%, 50%, 1) 10%, hsla(225, 53%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(75, 90%, 50%, 1) 10%, hsla(75, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(189, 95%, 55%, 1) 100%, hsla(189, 95%, 55%, 0) 70%);}
	25% {background:
		-webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
		linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);}
	50% {background:
		-webkit-linear-gradient(45deg, hsla(30, 5%, 25%, 1) 0%, hsla(30, 5%, 25%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(310, 35%, 50%, 1) 10%, hsla(310, 35%, 50%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(89, 96%, 50%, 1) 10%, hsla(89, 96%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(37, 57%, 55%, 1) 100%, hsla(37, 57%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(30, 5%, 25%, 1) 0%, hsla(30, 5%, 25%, 0) 70%),
		linear-gradient(135deg, hsla(310, 35%, 50%, 1) 10%, hsla(310, 35%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(89, 96%, 50%, 1) 10%, hsla(89, 96%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(37, 57%, 55%, 1) 100%, hsla(37, 57%, 55%, 0) 70%);}
	75% {background:
		-webkit-linear-gradient(45deg, hsla(258, 47%, 17%, 1) 0%, hsla(258, 47%, 17%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(33, 19%, 68%, 1) 10%, hsla(33, 19%, 68%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(175, 65%, 50%, 1) 10%, hsla(175, 65%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(200, 57%, 55%, 1) 100%, hsla(200, 57%, 55%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(258, 47%, 17%, 1) 0%, hsla(258, 47%, 17%, 0) 70%),
		linear-gradient(135deg, hsla(33, 19%, 68%, 1) 10%, hsla(33, 19%, 68%, 0) 80%),
		linear-gradient(225deg, hsla(175, 65%, 50%, 1) 10%, hsla(175, 65%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(200, 57%, 55%, 1) 100%, hsla(200, 57%, 55%, 0) 70%);}
	100% {margin-left: -400px;
	background:
		-webkit-linear-gradient(45deg, hsla(89, 47%, 87%, 1) 0%, hsla(89, 47%, 87%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(162, 19%, 8%, 1) 10%, hsla(162, 19%, 8%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(241, 65%, 36%, 1) 10%, hsla(241, 65%, 36%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(65, 57%, 82%, 1) 100%, hsla(65, 57%, 82%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(89, 47%, 87%, 1) 0%, hsla(89, 47%, 87%, 0) 70%),
		linear-gradient(135deg, hsla(162, 19%, 8%, 1) 10%, hsla(162, 19%, 8%, 0) 80%),
		linear-gradient(225deg, hsla(241, 65%, 36%, 1) 10%, hsla(241, 65%, 36%, 0) 80%),
		linear-gradient(315deg, hsla(65, 57%, 82%, 1) 100%, hsla(65, 57%, 82%, 0) 70%);}
}
/*
@keyframes moveclouds {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	width: 560px; 
	height: 400px; 
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: moveclouds 10s linear infinite;
}*/