html, body{
	height: 100%;
	background: -webkit-linear-gradient(top, #c9dbe9 100%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 100%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 100%, #fff 100%);
}

h1{
	font-style: italic;
	text-align: center;
}

.options{
	font-size: 20px;
	margin-left: 25%;
	float: left;
}

.custom_option{
	margin-left: 5%;
}

#footer{
	height: 100%;
	text-align: center;
}

.options button {
	margin-left: 25%;
	margin-right: 75%;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}